body{
    background-image: url("https://www.walldevil.com/wallpapers/w02/781816-black-background-ghosts-pac-man-retro-games-video-games.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}